{% load static %}
<html lang="en">
<head>
    <title>
        {% block title %} {% endblock %}
    </title>
    <meta charset="utf-8"/>
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    {% include "partials/_css.html" %}
</head>
<body>
{% include "partials/_nav.html" %}
<!-- END nav -->

<!-- loader -->
<div id="ftco-loader" class="show fullscreen">
    <svg class="circular" width="48px" height="48px">
        <circle
                class="path-bg"
                cx="24"
                cy="24"
                r="22"
                fill="none"
                stroke-width="4"
                stroke="#eeeeee"></circle>
        <circle
                class="path"
                cx="24"
                cy="24"
                r="22"
                fill="none"
                stroke-width="4"
                stroke-miterlimit="10"
                stroke="#F96D00"></circle>
    </svg>
</div>
{% block content %} {% endblock %}
{% include "partials/_footer.html" %}
{% include "partials/_js.html" %}
</body>
</html>
